# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# User-specific
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
xcuserdata/
!default.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.gcda
*.gcno
